$primary-color: #409eff;

// 左菜单宽度
$base-menu-width: 260px;
$base-menu-background: #001529;
$base-menu-min-width: 55px;

// 顶部导航高度
$base-tabbar-height: 50px;

// 左侧菜单logo
$base-menu-logo-height: 50px;
$base-logo-title-fontSize: 20px;
